<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ex.fascinator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.ex.fascinator.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ex.activity.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ex.activity.Registration"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ex.fascinator.Fascinator"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ex.activity.AdminFirstActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ex.activity.InformationOfOrder"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ex.activity.AnimatorActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ex.activity.AdminChooseAnimatorActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.ex.activity.InformationAboutOrder"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>